.CardButton{
    display: flex;
    flex-direction: row;
    background-color:#202020;
    width: 100%;
    transition: background .5s;
    border-radius: 3px;
    padding: 10px;
}
.CardButton:hover{
    background-color:#2F2F2F;
}