.CardButton{
    display: flex;
    flex-direction: row;
    background-color:#202020;
    transition: background .5s;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.CardButton:hover{
    background-color:#2F2F2F;
}